<button class="menu-container "
        (keydown.arrowUp)="selectIndex(-1)"
        (keydown.arrowDown)="selectIndex(1)"
        (keydown.enter)="selectItemEnter()"
        appCloseBlock
        (closeBlock)="isOpened = false">
  <div class="manu-toggler " (click)="open()">
    {{ currentItem }}
    <i [class.up]="isOpened" class="arrow down"></i>
  </div>
</button>
<div class="menu" *ngIf="isOpened">
  <div class="menu-item" *ngFor="let item of items" [class.menu-item__select]="item === focusedItem"
       (click)="selectItem(item)">{{item}}</div>
</div>





